<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon image_src" href="rethelyi.space/src/favicon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Buzerator</title>
</head>
<body style="background-color: #404040">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Buzerátor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav mr-auto"></div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                {{ if .Username }}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ .Username }}
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="menu">
                            <a class="nav-link" href="/logout">Kilépés</a>
                        </div>
                    </li>
                {{ else }}
                    <a class="nav-link" href="/login">Bejelentkezés</a>
                {{ end }}
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row">
    {{ range .Services }}
        <div class="card bg-secondary text-white" style="margin: 1em">
            <h5 class="card-header">
                {{ .Name }}
                {{ if .Running }}
                    <a href="/stop/{{ .Name }}" class="badge badge-pill badge-success">running</a>
                {{ else }}
                    <a href="/start/{{ .Name }}" class="badge badge-pill badge-danger">stopped</a>
                {{ end }}
            </h5>
            <div class="card-body">
                <h5 class="card-title">

                </h5>
                <p class="card-text">Last modified at {{ .PrintTime }}, by {{ .ModifiedBy }}</p>

                    {{ if .Running }}
                        <a href="/stop/{{ .Name }}">
                            <button type="button" class="btn btn-primary mr-2">stop</button>
                        </a>
                    {{ else }}
                        <a href="/start/{{ .Name }}">
                            <button type="button" class="btn btn-primary mr-2">start</button>
                        </a>
                    {{ end }}

            </div>
        </div>
    {{ end }}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>